.feedback_tile {
	position: relative;
	padding: 20px;
	border-radius: 20px;
	transform-style: preserve-3d;
	transform: perspective(100000px);
}

.feedback-title {
	text-align: left;
	margin-bottom: 5px;
	transform: translateZ(40px);
}

.feedback-subtitle {
	margin-bottom: 0;
	text-align: left;
	margin-top: 0px;
	font-size: 15px;
	color: grey;
	transform: translateZ(30px);
}

.title-stars {
	margin-bottom: 0px;
	font-family: 'CabinetGrotesk-Black';
	font-size: 20px;
	margin-top: 7px;
	text-align: left;
	transform: translateZ(40px);
}

.stars {
	margin-top: 0px;
	text-align: left;
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	transform: translateZ(40px);
}

.long-text {
	font-size: 13px;
	text-align: left;
	font-family: 'CabinetGrotesk-Bold';
	margin-top: 0px;
	transform: translateZ(35px);
}