.homeContainer {
    max-width: 1280px;
    margin: auto;
    padding: 2rem;
    z-index: 1;
}

.homeItems {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.homeContactButton {
    background-color: white;
    border-radius: 40px;
    color: black;
    cursor: pointer;
    font-family: 'CabinetGrotesk-Black';
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 25px;
}

.side {
    display: flex;
    margin: auto;
    padding: 5px;
    width: 100%;
}

.title {
    letter-spacing: 6px;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
}

.stylish-passion {
    background-image: -webkit-linear-gradient(0deg, #ff8541, #ff8541);
    font-family: 'CabinetGrotesk-Black';
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.inline_title {
    font-size: 14vw;
    line-height: normal;
    overflow-wrap: break-word;
    font-weight: 900;
    letter-spacing: 6px;
    margin: auto;
    max-width: 1252px;
    text-transform: uppercase;
}

.wheel {
    position: absolute;
    top: 369px;
    left: 565px;
}

.logoMe {
    border-radius: 50%;
    max-height: 22vw;
    will-change: filter;
}

.logoMe:hover {
    filter: drop-shadow(0 0 1em #e29169);
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2n+1) .logos {
        animation: logo-spin infinite 3s linear;
        -webkit-animation: webkit-rotation infinite 3s linear;
        -moz-animation: moz-rotation infinite 3s linear;
        -o-animation: o-rotation infinite 3s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes webkit-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes moz-rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes o-rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

.card button {
    letter-spacing: 3px;
    margin-top: 10px;
    text-align: center;
    width: 224px;
    text-decoration: none;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #FFFFE3;
}

.read-the-docs {
    color: #888;
}

@media only screen and (min-width: 520px) {
    #root {
        margin-top: 10% !important;
    }
}

@media only screen and (min-width: 600px) {
    .inline_title {
        font-size: calc(3.5rem + 5vmin);
        line-height: 86px;
    }

    .logoMe {
        max-height: calc(4.5rem + 5vmin);
    }

    .card button {
        margin-top: 0px;
    }

    #root {
        margin-top: 0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio : 2) {
    .inline_title {
        font-size: 14vw;
        line-height: 11vh;
    }

    .card button {
        margin-top: 57px;
        margin: auto;
        text-align: center;
        width: 324px;
    }

    #root {
        margin-top: 15% !important;
    }
}

@media only screen and (min-width: 992px) {
    .inline_title {
        font-size: calc(5.5rem + 6vmin);
        line-height: 120px;
        text-align: center;
    }

    #root {
        margin-top: 0% !important;
    }
}