.Feedback {
    background: #191818;
    margin: 0;
}

.Feedback section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    padding: 100px 20vw;
}